---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Portfolio">
    <section>
        <div>
            <h1>
                <span class="blue-text intro-welcome">Welcome, my name is</span>
                <span>Ivan.</span>
            </h1>

            <h2 class="intro">I create engaging and dynamic web experiences.</h2>
        </div>

        <p>
            Frontend Developer specialized in <span class="blue-text" translate="no">React</span>
            and <span class="blue-text" translate="no">Astro</span> frameworks, skilled in crafting dynamic and efficient user interfaces.
        </p>

        <Button href='/projects'>See my projects <img src="./icons/arrow-right.svg" alt="arrow" class="img-icon-small"  /></Button>
    </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 70%;
  }

  .intro-welcome {
    font-size: 1rem;
  }

  .intro {
    font-size: 2.25rem;
    color: rgb(146, 146, 165);
  }

  h1 {
    font-size: 3.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  @media (max-width: 868px) {
    section {
      flex-direction: column;
      width: 100%;
    }

    h1 {
      font-size: 3rem;
    }

    .intro {
      font-size: 1.5rem;
    }
  }
</style>