---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Projects">
    <header>
        <h1><span class="blue-text">/&nbsp</span>Projects</h1>
        <p>
            Explore my projects, where you will find a variety of different
            projects I have worked on.
        </p>
    </header>
    <section>
        <ProjectCard
            tags={["https://lukeliasi.com/images/dev-logos/javascript.svg"]}
            projectLink="https://tune-v2.netlify.app"
            isOpenSource={true}
            img="https://ivan-me.netlify.app/projectsImages/project.png"
            title="Tune"
            projectYear="2024"
            sourceCodeLink="https://github.com/iIvan13/tune_v2"
        >
            <p slot="subtitle">
                Tune is a modern and dynamic music application created
                with Astro and React.
            </p>
            <div slot="description">
                <p>
                    The app allows users to explore, play and
                    organize your favorite music intuitively and
                    efficient.
                </p>
                <p>
                    With an attractive and easy-to-use interface, MusicWave offers
                    a personalized and fluid musical experience both in
                    mobile devices as well as desktop.
                </p>
            </div>
        </ProjectCard>
    </section>
</Layout>

<style>
    header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    section {
        width: 100%;
        padding: 2rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        row-gap: 3rem;
    }

    p {
        margin-bottom: 1rem;
    }

    header {
        color: var(--bleue-100);
    }
</style>
