<footer>
    <div>
        <p>Made by Ivan. Website source code on
            <a
                href="https://github.com/Iv44n"
                style="color: var(--blue-600);"
                >GitHub</a
            >.
        </p>
    </div>
    <div class="social-links">
        <a href="https://github.com/Iv44n" target="_blank"><img src="./icons/github.svg" alt="github" class="img-icon"></a>
        <a href="" target="_blank"><img src="./icons/linkedin.svg" alt="linkedin" class="img-icon"></a>
        <a href="https://instagram.com/atm.iv4n?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><img src="./icons/instagram.svg" alt="instagram" class="img-icon"></a>
    </div>
  </footer>
  
  <style>
    footer {
      width: 100%;
      padding: 4rem 13%;
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  
    .social-links {
      display: flex;
      gap: 1.2rem;
      flex-wrap: wrap;
    }
  
    @media (max-width: 868px) {
      footer {
        padding: 4rem 7%;
      }
    }
  </style>
